**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/bin?Debug
**/bin?Release
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/.venv
**/*.egg-info
**/.pytest_cache
**/.next
**/out
**/coverage
**/dist
**/npm-debug.log
**/obj
**/obj?Debug
**/obj?Release
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
